## Syntax – Creating DataFrames

1. 10minutes to pandas를 바탕으로 한 판다스 기초
    * https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
    - 2페이지 문서로 판다스의 기본적인 내용을 정리

In [1]:
import pandas as pd

In [2]:
# 데이터프레임 만들기
# list형태의 데이터 == 시리즈
# 이를 데이터프레임으로 묶어서 표현할 수 있음
# dictionary형태로 컬럼명/밸류 선언
df = pd.DataFrame(
        {"a" : [4 ,5, 6],
        "b" : [7, 8, 9],
        "c" : [10, 11, 12]},
        index = [1, 2, 3])

In [3]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [6]:
#특정컬럼보기
df["a"]

1    4
2    5
3    6
Name: a, dtype: int64

In [7]:
df[["a","b"]]

   a  b
1  4  7
2  5  8
3  6  9

In [8]:
df.loc[3, "a"] # 3번 인덱스의 a컬럼

6

In [5]:
df.loc[[1, 2], ["a", "b"]] #여러개의 행렬을 지정하여 보기

   a  b
1  4  7
2  5  8

In [9]:
# 컬럼명을 파라미터로 별도 지정하기
df = pd.DataFrame(
        [[4, 7, 10],
        [5, 8, 11],
        [6, 9, 12]],
        index=[1, 2, 3],
        columns=['a', 'b', 'c'])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [10]:
# 인덱스가 2개씩 있는 데이터프레임 만들기
# 인덱스를 튜플 형태로 지정
import numpy as np
df = pd.DataFrame(
        {"a" : [4 ,5, 6, 6, np.nan],
        "b" : [7, 8, np.nan, 9, 9],
        "c" : [10, 11, 12, np.nan, 12]},
        index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2),('e',3),('e',4)],
        names=['n','v']))
df

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0
e 2  6.0  NaN  12.0
  3  6.0  9.0   NaN
  4  NaN  9.0  12.0