### Handling Missing Data

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0], [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, 5]],
                  columns=list('ABCD'))
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [5]:
df.dropna(axis=1, how='any') #null인 컬럼은 보지않음

   D
0  0
1  1
2  5

In [6]:
df.dropna(axis=0, how='all') #null인경우까지도 다 보기

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [7]:
df.fillna(0) #null값에 0으로 채움

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5

In [8]:
#딕셔너리 형태로 매핑된 컬럼 - 대체값으로 null을 다른 값으로 대체하기
values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
df.fillna(value=values)

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5

In [9]:
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [10]:
fill_na_value = df['D'].max()
fill_na_value

5

In [11]:
# d컬럼의 최댓값으로 null값을 채우기
df.fillna(fill_na_value)

     A    B    C  D
0  5.0  2.0  5.0  0
1  3.0  4.0  5.0  1
2  5.0  5.0  5.0  5

In [12]:
df.isnull().sum()

A    2
B    1
C    3
D    0
dtype: int64

In [13]:
df.notnull().sum()

A    1
B    2
C    0
D    3
dtype: int64