### 새로운 컬럼 만들기
* 영상링크 : https://youtu.be/CGEhwAd7Dbk

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'A': range(1, 11), 'B': np.random.randn(10)})
df

    A         B
0   1  1.602600
1   2 -1.814153
2   3 -0.372421
3   4 -0.037536
4   5 -1.190357
5   6 -0.046461
6   7 -0.065170
7   8  2.276049
8   9 -0.720706
9  10  0.482768

In [4]:
df.assign?

Signature: df.assign(**kwargs)
Docstring:
Assign new columns to a DataFrame.

Returns a new object with all original columns in addition to new ones.
Existing columns that are re-assigned will be overwritten.

Parameters
----------
**kwargs : dict of {str: callable or Series}
    The column names are keywords. If the values are
    callable, they are computed on the DataFrame and
    assigned to the new columns. The callable must not
    change input DataFrame (though pandas doesn't check it).
    If the values are not callable, (e.g. a Series, scalar, or array),
    they are simply assigned.

Returns
-------
DataFrame
    A new DataFrame with the new columns in addition to
    all the existing columns.

Notes
-----
Assigning multiple columns within the same ``assign`` is possible.
For Python 3.6 and above, later items in '\*\*kwargs' may refer to
newly created or modified columns in 'df'; items are computed and
assigned into 'df' in order.  For Python 3.5 and below, the order of
keyword arguments is not specified, you cannot refer to newly created
or modified columns. All items are computed first, and then assigned
in alphabetical order.

.. versionchanged :: 0.23.0

   Keyword argument order is maintained for Python 3.6 and later.

Examples
--------
>>> df = pd.DataFrame({'temp_c': [17.0, 25.0]},
...                   index=['Portland', 'Berkeley'])
>>> df
          temp_c
Portland    17.0
Berkeley    25.0

Where the value is a callable, evaluated on `df`:

>>> df.assign(temp_f=lambda x: x.temp_c * 9 / 5 + 32)
          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0

Alternatively, the same behavior can be achieved by directly
referencing an existing Series or sequence:

>>> df.assign(temp_f=df['temp_c'] * 9 / 5 + 32)
          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0

In Python 3.6+, you can create multiple columns within the same assign
where one of the columns depends on another one defined within the same
assign:

>>> df.assign(temp_f=lambda x: x['temp_c'] * 9 / 5 + 32,
...           temp_k=lambda x: (x['temp_f'] +  459.67) * 5 / 9)
          temp_c  temp_f  temp_k
Portland    17.0    62.6  290.15
Berkeley    25.0    77.0  298.15
File:      ~/.pyenv/versions/3.6.5/lib/python3.6/site-packages/pandas/core/frame.py
Type:      method

In [5]:
df.assign(ln_A = lambda x: np.log(x.A)).head()

   A         B      ln_A
0  1  1.602600  0.000000
1  2 -1.814153  0.693147
2  3 -0.372421  1.098612
3  4 -0.037536  1.386294
4  5 -1.190357  1.609438

In [6]:
df.ln_A = np.log(df.A)
df

/Users/ssum/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

    A         B
0   1  1.602600
1   2 -1.814153
2   3 -0.372421
3   4 -0.037536
4   5 -1.190357
5   6 -0.046461
6   7 -0.065170
7   8  2.276049
8   9 -0.720706
9  10  0.482768

In [7]:
# vector function; n개만큼 bin컬럼을 만듦
# 숫자형 데이터를 카테고리컬한 데이터로 구분하여 만들어줄 때 사용
pd.qcut(df.B, 2, labels=["good", "bad"])

0     bad
1    good
2    good
3     bad
4    good
5     bad
6    good
7     bad
8    good
9     bad
Name: B, dtype: category
Categories (2, object): [good < bad]

In [8]:
df.max(axis=0) # 축을 0으로 정했을 때의 컬럼의 최대값

A    10.000000
B     2.276049
dtype: float64

In [9]:
df.min(axis=0) # 축을 0으로 정했을 때의 컬럼의 최소값

A    1.000000
B   -1.814153
dtype: float64

In [10]:
df["B"].clip(lower=1,upper=3) #임계치만큼 값을 trim

0    1.602600
1    1.000000
2    1.000000
3    1.000000
4    1.000000
5    1.000000
6    1.000000
7    2.276049
8    1.000000
9    1.000000
Name: B, dtype: float64

In [11]:
df["B"].abs() # 절대값을 출력

0    1.602600
1    1.814153
2    0.372421
3    0.037536
4    1.190357
5    0.046461
6    0.065170
7    2.276049
8    0.720706
9    0.482768
Name: B, dtype: float64